@charset "UTF-8";
*, *:after, *:before {
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
*::-moz-selection, *:after::-moz-selection, *:before::-moz-selection {
  color: white;
  background-color: #96c8ff;
}
*::selection, *:after::selection, *:before::selection {
  color: white;
  background-color: #96c8ff;
}

html {
  min-height: 100%;
}
html body {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  text-align: center;
  font-size: medium;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif, "微軟正黑體", "Microsoft JhengHei";
  background: #ebebeb;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

#main {
  display: inline-block;
  width: 100%;
  max-width: 640px;
}
#main .avatar {
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 5px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#main .avatar img {
  width: 100%;
}
#main .filter-button-container {
  position: absolute;
  display: inline-block;
  right: calc(25% - 200px / 2);
  height: 75px;
  width: 200px;
}
#main .filter-button-container .toggle {
  display: inline-block;
  position: relative;
  width: 45%;
  height: 100%;
}
#main .filter-button-container .toggle .button {
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 34.4px;
  position: absolute;
  background: #ccd0d4;
  margin-left: -17.2px;
  margin-top: -17.2px;
  display: block;
  height: 34.4px;
  width: 34.4px;
  left: 50%;
  top: 50%;
}
#main .filter-button-container .toggle .button i {
  position: relative;
  top: calc(50% - 19px / 2);
  z-index: 99;
}
#main .filter-button-container .toggle input {
  opacity: 0;
  background: red;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#main .filter-button-container .toggle input:active + .button {
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 30px 1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 25px 0 rgba(0, 0, 0, 0.4), inset 0 0 10px 1px rgba(255, 255, 255, 0.6);
}
#main .filter-button-container .toggle input:checked + .button {
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4), inset 0 -8px 25px -1px rgba(255, 255, 255, 0.9), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 8px 20px 0 rgba(0, 0, 0, 0.2), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

#infos {
  z-index: 1;
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 60px;
  padding-bottom: 40px;
}
#infos > i {
  position: absolute;
  display: inline-block;
  top: 0;
  left: calc(50% - 10px / 2);
  width: 10px;
  height: calc(100% - (25px + 8px));
  z-index: 2;
}
#infos > i:before, #infos > i:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #d2d2d2;
}
#infos > i:before {
  left: calc(50% - 2px / 2);
  top: 0;
  width: 3px;
  height: 100%;
  border-right: 1px solid white;
}
#infos > i:after {
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 1px white, inset 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px white, inset 1px 1px 1px black;
  box-shadow: 1px 1px 1px white, inset 1px 1px 1px black;
}
#infos #load {
  position: absolute;
  bottom: 0;
  padding: 0;
  display: inline-block;
  left: calc(50% - 80px / 2);
  width: 80px;
  height: 25px;
  z-index: 2;
  border: 1px solid white;
}
#infos #load span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 24px;
  height: 20px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 4s infinite;
  animation: sdb07 4s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#infos #load span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#infos #load span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#infos .info {
  position: relative;
  display: inline-block;
  width: 100%;
  *zoom: 1;
  z-index: 3;
  margin-top: 22px;
}
#infos .info:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
#infos .info > i {
  position: absolute;
  left: calc(50% - 36px / 2);
  top: 0;
  display: inline-block;
  width: 36px;
  height: 36px;
  color: white;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
#infos .info > i.icon-pencil {
  background-color: #fd6059;
}
#infos .info > i.icon-bubble {
  background-color: #fec03d;
}
#infos .info > i.icon-menu {
  background-color: #34cc4d;
}
#infos .info > time {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 120px;
  height: 40px;
  font-size: 13px;
  color: #787878;
  padding-top: 4px;
}
#infos .info > time:before {
  content: attr(data-time);
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  color: #a0a0a0;
  width: 100%;
  font-size: 10px;
}
#infos .info .content {
  position: relative;
  display: inline-block;
  min-height: 50px;
  background-color: white;
  text-align: left;
  z-index: 2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  *zoom: 1;
}
#infos .info .content:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
#infos .info .content img {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 16px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#infos .info .content img + h3 {
  float: left;
  width: calc(100% - (30px + 16px));
  padding: 0 8px;
}
#infos .info .content h3 {
  float: left;
  display: inline-block;
  width: 100%;
  margin: 0;
  width: 100%;
  line-height: 45px;
  padding-left: 24px;
}
#infos .info .content p {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0 16px;
  font-size: 13px;
}
#infos .info .content input {
  display: inline;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  text-align: right;
  height: 35px;
  line-height: 35px;
  padding-right: 16px;
  background: white;
  border: 1px solid #dedede;
  margin-top: 16px;
}
#infos .info .content input:hover {
  text-decoration: underline;
}

@media screen and (max-width: 399px) and (min-width: 0) {
  #infos .info {
    margin-top: 32px;
    .content-padding-top: 32px;
    .content--moz-border-radius: 0;
    .content--webkit-border-radius: 0;
    .content-border-radius: 0;
  }
  #infos .info + .info {
    margin-top: 48px;
  }
  #infos .info > i {
    z-index: 4;
    top: -18px;
  }
  #infos .info > time {
    display: none;
  }
}
@media screen and (max-width: 599px) and (min-width: 400px) {
  #main {
    text-align: left;
  }
  #main .avatar {
    margin-left: 45px;
  }

  #infos > i {
    left: 77.5px;
  }
  #infos #load {
    left: 45px;
  }
  #infos .info > i {
    left: 63px;
  }
  #infos .info > time {
    left: 0;
    top: 34px;
    text-align: right;
    width: 78.5px;
  }
  #infos .info .content {
    float: right;
    width: calc(100% - (45px + 75px - 8px) );
    padding-right: 8px;
  }
  #infos .info .content:after, #infos .info .content:before {
    right: 100%;
    top: 19px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  #infos .info .content:after {
    border-color: transparent;
    border-right-color: white;
    border-width: 7px;
    margin-top: -7px;
  }
  #infos .info .content:before {
    border-color: transparent;
    border-right-color: #c8c8c8;
    border-width: 8px;
    margin-top: -8px;
  }
}
@media screen and (min-width: 600px) {
  #infos .info .content {
    width: calc(50% - 46px / 2);
  }
  #infos .info:nth-child(2n + 3) > time {
    left: calc(50% - 36px / 2 - 120px - 4px);
    text-align: right;
  }
  #infos .info:nth-child(2n + 3) > .content {
    float: right;
  }
  #infos .info:nth-child(2n + 3) > .content:after, #infos .info:nth-child(2n + 3) > .content:before {
    right: 100%;
    top: 19px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  #infos .info:nth-child(2n + 3) > .content:after {
    border-color: transparent;
    border-right-color: white;
    border-width: 7px;
    margin-top: -7px;
  }
  #infos .info:nth-child(2n + 3) > .content:before {
    border-color: transparent;
    border-right-color: #c8c8c8;
    border-width: 8px;
    margin-top: -8px;
  }
  #infos .info:nth-child(2n + 4) > time {
    right: calc(50% - 36px / 2 - 120px - 4px);
    text-align: left;
  }
  #infos .info:nth-child(2n + 4) > .content {
    float: left;
  }
  #infos .info:nth-child(2n + 4) > .content:after, #infos .info:nth-child(2n + 4) > .content:before {
    left: 100%;
    top: 19px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  #infos .info:nth-child(2n + 4) > .content:after {
    border-color: transparent;
    border-left-color: white;
    border-width: 7px;
    margin-top: -7px;
  }
  #infos .info:nth-child(2n + 4) > .content:before {
    border-color: transparent;
    border-left-color: #c8c8c8;
    border-width: 8px;
    margin-top: -8px;
  }
}
